* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
}
main {
  max-width: 100%;
}
main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
}
img {
  width: 50%;
  height: 50%;
}

.banner {
  width: 100%;
  margin: 0 auto;
}

main h3 {
  font-family: var(--Titulares);
}
main p {
  font-family: var(--Precios);
}
main {
  width: 90%;
  margin: 0 auto;
}

main article {
  margin-bottom: 10px;
}

.home__main__section {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
  justify-content: space-between; /* Espaciado uniforme entre los elementos */
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--gris-claro);
  border: 1px solid #ebebeb;
  border-bottom: 0px;
  box-sizing: border-box;
}

.home__main__section__article {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: center;
}

.home__main__section__article .article-box .item-box h4 {
  height: 0;
  overflow: hidden;
  transition: all 1s;
}

/* Aseguro de que el título no ocupe espacio adicional */
.home__main__section h2 {
  flex: 0 0 100%; /* El título no ocupará espacio y tendrá un ancho del 100% */
}

.home__main__section__article img {
  width: 100%;
}
.item-box {
  border-top: 1px solid #ebebeb;
  padding: 15px;
}

.home__main__section__article .item-box p.off {
  color: var(--Verde);
  margin-bottom: 20px;
}

.home__main__section__article .item-box i.fas.fa-shipping-fast {
  color: var(--Verde);
  transition: all 2s;
}

.home__main__section h2 {
  text-align: center;
  margin-bottom: 15px;
}
.home__main__section .article-box {
  position: relative;
  background-color: white;
  margin: 5px;
}
.home__main__section__article .item-box {
  display: flex;
  flex-direction: column;
}
.home__main__section__article .item-box i:hover {
  transform: rotate(-90deg);
}

/* Mostrar 2 artículos en tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .home__main__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .home__main__section__article {
    width: calc(50% - 20px);
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
  }
}
