/* PARA MOBILE */
@media (max-width: 768px) {
  .text__nav {
    display: none;
  }
  .user__options {
    display: none;
  }

  /* Mostrar 1 artículo en dispositivos móviles */
  .home__main__section .home__main__section__article {
    flex-basis: 100%; /* Ocupa todo el ancho disponible en una fila */
  }
}

/* PARA TABLETS*/

@media (min-width: 769px) and (max-width: 1023px) {
  .item-box p {
    display: flex;
  }
  footer {
    padding: 10px;
  }
  footer h3 {
    font-size: 18px;
  }
  footer p {
    font-size: 16px;
  }
  footer .fas {
    font-size: 28px; /* Aumenta el tamaño de los íconos para tablets */
  }
  /* Mostrar 2 artículos en tablets */
  .home__main__section .home__main__section__article {
    flex-basis: calc(
      50% - 10px
    ); /* Ocupa el 50% del ancho disponible con un margen de 10px */
  }
}

/* PARA DESKTOP */

@media (min-width: 1024px) {
  .article-box {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .burger-menu {
    display: none;
  }
  footer {
    padding: 20px;
  }
  footer h3 {
    font-size: 24px;
  }
  footer p {
    font-size: 20px;
  }
  footer .fas {
    font-size: 32px; /* Aumenta el tamaño de los íconos para desktop */
  }
  /* Mostrar 4 artículos en versiones de escritorio */
  .home__main__section .home__main__section__article {
    flex-basis: calc(
      25% - 10px
    ); /* Ocupa el 25% del ancho disponible con un margen de 10px */
  }
}

/* Para TABLETS y DESKTOPS */
@media (min-width: 769px) {
  @media (min-width: 769px) {
    header {
      display: flex;
      flex-wrap: wrap; /* Permite que los elementos se envuelvan en una nueva línea si no caben en el ancho disponible */
      justify-content: space-between; /* Alinea los elementos horizontalmente y coloca espacio entre ellos */
      align-items: center; /* Centra los elementos verticalmente */
    }

    .logo,
    .buscar__header,
    .subtitle {
      flex: 1; /* Distribuye el espacio disponible entre los tres elementos */
      text-align: center; /* Centra el contenido en cada elemento */
      width: 33.33%; /* Divide el ancho en tres partes iguales para los tres elementos principales */
    }

    .user__options,
    .text__nav {
      display: flex; /* Alinea las opciones en una fila en la parte inferior */
      justify-content: space-between; /* Espacio entre las opciones en la fila */
      align-items: center; /* Centra las opciones verticalmente */
      width: 100%; /* Ocupa el ancho completo del encabezado */
    }

    .burger-menu {
      display: none; /* Oculta el menú de hamburguesa en la vista de tablet y desktop */
    }
  }
}
